body{
    background-color: aquamarine;
}

.box {
    max-width: 425px;
    margin: 50px auto;
    background:aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

.title{
    text-align: center;
}

.delete-button{
    padding:5px;
    border-radius: 20%;
    font-size:10px;
    
}

.bottom-func{
    text-align: center;
}

.content-window{
    
    margin-bottom: 10px; 
}

.bottom-button{
    margin-bottom:10px;
}